/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #f3f3f3;  
    color: #707070;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
    clear: both;
}


header {
    color: rgb(128, 99, 255);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
    clear: both;
}


/* specifieke stijlen */

.zweefLinks {
    float: left;
    margin-right: 15px;
}

.midden {
    width: 300px;
    height: 200px;
    margin-left: 200px;
    margin-right: 200px;
}

#bovenste {
    margin-top: 50px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(128, 99, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: rgb(172, 154, 255);
    overflow: hidden;
}

nav ul li {
    float: left;
    width: 140px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(111, 0, 255);
}

nav li a.active {
    background-color: rgb(128, 99, 255);
}




